body{
    margin: 0;
    font-family: Microsoft JhengHei;
    font-size: 1.1.rem;
    color: #fff;
     background: #333;
     line-height: 1.5;
     text-align: center;
}

img {
    display: block;
    width 100%;

}

#service ul {
    
}